<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" /> 
  <title>CSS3 Charts-Global usage share of web browsers</title>
<!--<link href="../static/css/stylesheet.css" rel="stylesheet" type="text/css" /> 	
<link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css" /> 	
<link href="../static/css/business-frontpage.css" rel="stylesheet" type="text/css" /> 	
<link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" /> -->

<link rel=stylesheet type="text/css" href="{{ url_for('static', filename='../static/css/stylesheet.css') }}">
<link rel=stylesheet type="text/css" href="{{ url_for('static', filename='../static/css/bootstrap.min.css') }}">
<link rel=stylesheet type="text/css" href="{{ url_for('static', filename='../static/css/business-frontpage.css') }}">
<link rel=stylesheet type="text/css" href="{{ url_for('static', filename='../static/css/bootstrap.css') }}">

</head>
	
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display-->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="main">QuizYou</a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                  <li>
                      <a href="/">About</a>
                  </li>
                  <li>
                      <a href="quizlist">My Quiz</a>
                  </li>
                  <li>
                      <a href="main">Answered</a>
                  </li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
  </nav>
<div id="wrapper">
	<div id="header">
		<p id="txt_title">Global usage share of web browsers</p>
		<p id="txt_subtitle">Pure CSS3 experimental charts, no JavaScript &amp; zero image. Best viewed in Webkit browsers.</p>
	</div>

	<div id="q2_2010">
	<div id="q1_2010">
	<div id="q4_2009">
	<div id="q3_2009">
	<div id="q2_2009">
	<div id="q1_2005">
		<div id="labels">
			<ul>
				<li><span></span>A</li>
				<li><span></span>B</li>
				<li><span></span>C</li>
				<li><span></span>D</li>
			</ul>
		</div>
		<div id="pie_ico">Pie &raquo;</div>
		<div id="pyr_ico">&laquo; Pyramid</div>
		<div id="percentage_wrapper">
			<div id="percentage">
				<ul>
				{% for percentage in percentages %}
				<li><p>{{percentage}}%</p></li>
              	{% endfor %}
				</ul>
			</div>
		</div>
		<div id="slider">
			<div id="chart_holder">
				<div id="pie_chart">
					<ul>
						<li id="c1_r"><p><span class="pie_left"></span></p></li> 	
						<li id="c1_l"><p><span class="pie_right"></span></p></li>
						<li id="c2_r"><p><span class="pie_left"></span></p></li> 	
						<li id="c2_l"><p><span class="pie_right"></span></p></li>
						<li id="c3_r"><p><span class="pie_left"></span></p></li> 	
						<li id="c3_l"><p><span class="pie_right"></span></p></li>
						<li id="c4_r"><p><span class="pie_left"></span></p></li> 	
						<li id="c4_l"><p><span class="pie_right"></span></p></li>
						<li id="c5_r"><p><span class="pie_left"></span></p></li> 	
						<li id="c5_l"><p><span class="pie_right"></span></p></li>
					</ul>
				</div>
				<div id="pyr_chart">
					<ul>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>
			</div>
		</div>
		<div id="btn_panel">
			<ul>
				<li><a href="#q1_2005"><span>Q1</span><span>2005</span></a></li>
				<li><a href="#q2_2009"><span>Q2</span><span>2009</span></a></li>
				<li><a href="#q3_2009"><span>Q3</span><span>2009</span></a></li>
				<li><a href="#q4_2009"><span>Q4</span><span>2009</span></a></li>
				<li><a href="#q1_2010"><span>Q1</span><span>2010</span></a></li>
				<li><a href="#q2_2010"><span>Q2</span><span>2010</span></a></li>
			</ul>
		</div>
	</div> <!--q1_2005-->
	</div> <!--q2_2009-->
	</div> <!--q3_2009-->
	</div> <!--q4_2009-->
	</div> <!--q1_2010-->
	</div> <!--q2_2010-->
</div>
<div id="footer">
	<div id="about"><p>Statistical data of this chart provided by The <a href="http://www.netapplications.com/">Net Applications</a></p></div>
	<div id="author"><p>Code by <a href="http://www.ohsean.net">Sean</a> | find me on <a href="http://www.facebook.com/#!/profile.php?id=100001036031905">Facebook</a></p></div>
</div>
</body>
</html>